
@import "tailwindcss";
 @plugin "daisyui" ;
@import "@heroui/styles"; 

 body {
  background-image: url('../public/img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
